build:
  type: text
  content: |-
    #/bin/sh
    docker build -f ecserver/Dockerfile -t ecserver:$GIT_COMMIT_ID ecserver 
    docker tag ecserver:$GIT_COMMIT_ID  ecserver:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |+

test:
  - name: ecserver
    configType: artillery
    configPath: ecserver/test/test.yaml
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-10-19T10:33:31.495Z
