build:
  type: External_Build
  content: $GIT_COMMIT_ID
deploy:
  type: None
  content: ''
test:
  - name: ecserver
    configType: artillery
    configPath: ecserver/test/test.yaml
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-10-19T12:27:55.246Z
