build:
  type: text
  content: |-
    #!/bin/sh

    export IMAGE_TAG=$ROOST_NAMESPACE
    export PATH=$PATH:/usr/bin:/usr/local/bin
    make build-ecserver
deploy:
  type: text
  content: |+


test:
  - name: ecserver
    configType: artillery
    configPath: ecserver/test/test.yaml
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-09-19T17:16:11.038Z
